.nameColumn{
	width: 60%;
}
.creatorColumn{
	width: 3%;
}
.likesColumn{
	min-width: 1%;
	max-width: 2%;
}
.actionsColumn{
	min-width: 2%;
	max-width: 4%;
}

.titleIdea h1{
	display: inline-block;
}

img{
	height: 4vh;
	position: relative;
	bottom: 11px;
}